{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "bracketSameLine": true,
    "printWidth": 80,
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "sa"
}
